@media (max-width: 1883px){
   .image{
    margin-left: 80px;
    margin-right: 50px;
   }

   .portfolioH3 span{
       font-size: 95px;
   }

    .hover{
        margin-right: 10px;
        width: 100px;
        height:95px;
    }

    .hover a{
        margin-top: 50px;
        font-size: 20px;
    }

    .line{
        width: 100px;
    }

    .getStarted {
        width: 170px;
        height: 60px;       
        margin-top: 35px;        
        margin-left: 20px;
    }

    .getStarted a{
        font-size: 20px;
        margin-top: 16px;
    }
}

@media (max-width: 1510px){
    .image{
        margin-left: 60px;
        margin-right: 40px;
    }
 
    .portfolioH3 span{
        font-size: 80px;
    }
 
    .hover{
        margin-right: 10px;
        width: 90px;
        height:85px;
    }
 
    .hover a{
        margin-top: 40px;
        font-size: 18px;
    }
 
    .line{
        width: 90px;
        margin-top: 6px;
    }
 
    .getStarted {
        width: 160px;
        height: 50px;       
        margin-top: 30px;        
        margin-left: 15px;
    }
 
    .getStarted a{
        font-size: 18px;
        margin-top: 12px;
    } 

    .page {
        padding: 0px 65px;
        font-size: 0px;
    }
}

@media (max-width: 1320px){
    .image{
        margin-left: 40px;
        margin-right: 20px;
    }
 
    .portfolioH3 span{
        font-size: 50px;
    }
 
    .hover{
        margin-right: 10px;
        width: 70px;
        height: 65px;
    }
 
    .hover a{
        margin-top: 30px;
        font-size: 15px;
    }
 
    .line{
        width: 70px;
        margin-top: 4px;
    }
 
    .getStarted {
        width: 130px;
        height: 30px;       
        margin-top: 27px;        
        margin-left: 10px;
    }
 
    .getStarted a{
        font-size: 15px;
        margin-top: 4px;
    }

    .page {
        padding: 0px 45px;
        font-size: 0px;
    }

    .menu{
        text-align: center;
    }
}

@media (max-width: 950px){
    .image{
        margin-left: 20px;
        margin-right: 10px;
    }
 
    .portfolioH3 span{
        font-size: 40px;
    }
 
    .hover{
        margin-right: 8px;
        width: 60px;
        height: 57px;
    }
 
    .hover a{
        margin-top: 33px;
        font-size: 12px;
    }
 
    .line{
        width: 60px;
        margin-top: 3px;
        margin-right: 8px;
    }
 
    .getStarted {
        width: 110px;
        height: 25px;       
        margin-top: 30px;        
        margin-left: 8px;
    }
 
    .getStarted a{
         font-size: 12px;
         margin-top: 4px;
    }

    .page {
        padding: 0px 15px;
        font-size: 0px;
    }
}

@media (max-width: 720px){
    .image{
        display: none;
    }
 
    .page {
        padding: 0px 10px;
        font-size: 0px;
    }

    .portfolioH3 span{
        font-size: 30px;
    }

    .about1{
        margin-left: 10px;
    } 
    
    .menu{
        text-align: center;
    }
}

@media (max-width: 370px){
    .image{
        display: none;
    }
 
    .page {
        padding: 0px 5px;
        font-size: 0px;
    }

    .portfolioH3 span{
        font-size: 30px;
    }

    .about1{
        margin-left: 10px;
    } 

    .hover{
        margin-left: 0px;
        margin-right: 0px;
    }

    .line{
        margin-left: 0px;
        margin-right: 0px;
    }

    .getStarted {
        width: 90px;
        height: 25px;       
        margin-top: 30px;        
        margin-left: 8px;
    }

    .about1{
        margin: 0px;
    } 
    
    .menu{
        text-align: center;
    }
}

@media (max-width: 306px){
    .image{
        display: none;
    }
 
    .page {
        padding: 0px 0px;
        font-size: 0px;
    }

    .about1{
        margin: 0px;
    } 

    .hover{
        margin: 0px;
        width: 55px;
        height: 25px;
    }

    .hover a{
        margin-top: 8px;
        font-size: 10px;
    }

    .line{
        width: 55px;
        margin-top: 2px;
        margin-top: 2px;        
    }

    .getStarted {
        width: 79px;
        height: 25px;       
        margin-top: 3px;        
        margin-left: 5px;
    }

    .getStarted a{
        font-size: 10px;
        margin-top: 5px;
   }
    
    .hover2{
        width: 55px;
    }
}