/* @import url(//db.onlinewebfonts.com/c/f5bd594fdf1873d09eff1f4718ff2141?family=Freestyle+Script); */

@font-face {
    font-family: freestyle;
    src: url(./fonts/Freestyle\ Script\ Regular.ttf);
}

@font-face {
    font-family: hatten;
    src: url(./fonts/HATTEN.TTF);
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-SemiBold.ttf);
    font-weight: semiBold;
}

@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-Regular.ttf);
}

body{
    margin: 0px;
}

.page{
    padding: 0px 85px;
    font-size: 0px;
}

/* page 1 */

.page1{
    background-color: #0E0C38;
    position: relative;
}

.menu a{
    display: inline-block;
    text-decoration: none;
}

.hover:hover{
    background-color:#FF0513;
}

.hover2:hover div:last-child{
    background-color: #FF0513;
}

.menu span{
    display: inline-block;
    font-family: freestyle;
    font-size: 116px;
    color: #FFFFFF;
    margin-top: 25px;
}

.image{
    width: 590px;
    height: 263px;
    margin-left: 170px;
    margin-right: 80px;
    position: relative;
    z-index: 1;
}

.about, .portfolio, .contact, .getStarted, .portfolioH3, .image, .about1, .hover2{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.about a, .portfolio a, .contact a{
    color: #FFFFFF;
    font-family: poppins;
    font-weight: medium;
    font-size: 22px;
    margin-top: 65px;
}

.getStarted a{
    font-family: raleway;
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 21px;
}

.about{
    margin-right: 10px;
    width: 123px;
    height: 117px;
}

.line{
    margin-right: 10px;
    width: 123px;
    height: 1px;
    margin-top: 8px;
}

.contact{
    margin-right: 10px;
    height: 117px;
    width: 123px;
}

.portfolio{
    height: 117px;
    width: 123px;
   margin-right: 10px;
}

.getStarted{
    width: 202px;
    height: 72px;
    border: 2px solid  #FFFFFF;
    border-radius: 60px;
    margin-top: 44px;
    box-sizing: border-box;
    margin-left: 20px;
}

.heading{
    background-color: #0E0C38;
    width: 780px;
    padding-bottom: 192px;
    display: inline-block;
    margin-top: 85px;
    position: relative;
}

.heading p{
    font-family: poppins;
    font-weight: lighter;
    font-size: 41px;
    color: #FFFFFF;
    margin: 0px;    
}

.heading h1{
    font-family: poppins;
    font-weight: bold;
    font-size: 150px;
    color: #FFFFFF;
    margin: 0px;
    line-height: 1em;
}

.heading span{
    font-family: poppins;
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF;
    margin: 0px;
}

.socialNetwork{
    margin-top: 40px;
}

.socialNetwork span{
    font-family: raleway;
    font-size: 30px;
    color: #FFFFFF; 
    display: block;
    margin: 0px;
}

.dribbble, .linked{
    margin-left: 32px;
    margin-right: 32px;
}

.socialNetwork img{
    margin-top: 22px;
}

.heading .red{
    color: #FF0513;
}

.HireMe{
    display: inline-block;
    width: 279px;
    height: 96px;
    background-color: #0E0C38;
    border: solid 1px;
    border-color: #FFFFFF;
    border-radius: 60px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 69px;
    cursor: pointer;    
}

.HireMe a{
    font-family: raleway;
    font-size: 30px;
    color: #FFFFFF; 
    margin: 0px;
    text-decoration: none;
}

.HireMe:hover{
    background-color:  #FF0513;
    border: 0px;    
}

.HireMe.Portfolio{
    margin-left: 26px;
}

.Layer4{
    margin-top: 34.5px;
    margin-left: 30px;
    display: inline-block;
}

.Layer4 img{
    position: absolute;
    top: 160px;
    right: 144px;
}

.numberPage{
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #0E0C38;
    width: 105px;
    text-align: center;
}

.numberPage ul{
    padding-left: 20px;
    position: fixed;
    top: 520px;
    right: 25px;
}

.numberPage li{
    border-bottom: 3px solid rgba(112, 112, 112, 0.2);
    width: 52px;
    padding: 0px;
    padding-top: 17px;
}

.numberPage a{
    color: #8D8D8D;
    text-decoration: none;
    font-family: poppins;
    font-weight: 300;
    font-size: 20px;
}

.numberPage img{
    margin-top: 24.5px;
}

.divOpacit{
    position: absolute;
    width: 574px;
    height: 547px;
    left: -273px;
    top: 37px;
    z-index: 1;
    opacity: 0.2;
    border-radius: 50%;
    background-color: #142963;
}

.opacyt{
    position: relative;
    z-index: 2;
}

/*page2*/
.page2{
    background-color: #040221;
    padding-top: 197px;
    padding-bottom: 131px; /*???????????????*/
}

.aboutMy{
    display: inline-block;
    position: relative;
    width: 877px;
    vertical-align: top;
}

.aboutMy h3{
    font-family: poppins;
    font-weight: semibold;
    font-size: 60px;
    color: #FFFFFF;
    position: absolute;
    left: 87px;
    top: 55px;
}

.aboutMy p{
    font-family: poppins;
    font-weight: lighter;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 50px;
    margin-top: 260px;
    display: inline-block;
    padding-right: 25px;   
}

.aboutMy img{
    width: 437px;
    opacity: 0.19;
    display: block;
}

.dowlandCV{
    border: solid 1px #FFFFFF;
    border-radius: 60px;
    width: 301px;
    height: 96px;
    box-sizing: border-box;
    text-align: center;
    padding: 28px;
    margin-top: 93px;
    display: inline-block;
    cursor: pointer;  
}

.dowlandCV a{
    font-family: raleway;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.line2{
    width: 345px;
    height: 2px;
    background-color: #FF0513;
    position: absolute;
    top: 155px;
    left: 616px;
}

.about2{
    position: absolute;
    left: -85px;
}

.aboutMyImage{
    display: inline-block;
    padding: 74px 66px;
    box-sizing: border-box;
    background-color: #0E0C38;
}

.portfolio2{
    background-color:#040221;
    position: relative;
    width: 877px;
    display: inline-block;
}

.portfolio2 span{
    font-family: poppins;
    font-weight: lighter;
    font-size: 50px;
    color: #FFFFFF;
}

.portfolio2 ul{
    padding: 0px;
}

.portfolio2 li{
    display: inline-block;
}

.line3{
    width: 345px;
    height: 2px;
    background-color: #FF0513;
    position: absolute;
    top: 40px;
    left: 240px;
}

.portfolio2 a{
    font-family: poppins;
    font-weight: lighter;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px 17px;
}

.portfolio2 .red2{
    margin-left: 0px;
}


.portfolio2 a:hover{
    color:  #FF0513;
}


.portfolioDetailed .portfolio3{
    width: 280px;
    text-align: center; 
    vertical-align: top; 
    float: right;  
}

.portfolio3 div{
    display: inline-block;
    width: 103px;
    height: 103px;
    border: solid 1px #FFFFFF;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    margin: 0px 16px;
    cursor: pointer;
}

.portfolio3 div:hover{
    background-color:  #FF0513;
    border-color: #FF0513;
}

.portfolioDetailed{
    margin-top: 141px;
}

.images{
    margin-top: 79px;
}

.images img{
    margin-bottom: 57px;
}

.minisite{
    display: inline-block;
    margin-left: 105px;
    margin-right: 105px;
    width: 505px;
    height: 562px;
    border-radius: 40px;
    margin-top: 0px;
    position: relative;
}

.images .nalie{
    margin-left: 105px;
    margin-right: 105px;
}

.perspiciatis{
    position: absolute;
    width: 265;
    height: 145;
    z-index: 2;
    left: 57px;
    bottom: 40px;
}

.perspiciatis h5{
    font-family: poppins;
    font-weight: semiBold;
    font-size: 44px;
    color: #FFFFFF;
    margin: 0px;
    line-height: 40px;
}

.perspiciatis span{
    font-family: poppins;
    font-weight: lighter;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 50px;
}

.bacgrounRed{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #FF0513;
    top: 0px;
    z-index: 1;
    opacity: 0.82;
}

/* page3 */

.page3{
    background-color: #0E0C38;
}

.myCapabilities{    
    text-align: center;
    padding-top: 95px;
}

.myCapabilities h3{
    font-family: poppins;
    font-weight: semiBold;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 50px;   
}

.line4{
    width: 345px;
    height: 2px;
    background-color: #FF0513;
    margin: 0 auto;
    margin-bottom: 40.5px;
}

.myCapabilities span{
    font-family: poppins;
    font-weight: lighter;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 50px;
}

.webDesignAll{
    padding: 0px 80px;
    margin-top: 224px;
    padding-bottom: 95px;
}

.webDesign{
    display: inline-block;
    text-align: center;
    margin-bottom: 174px;
}

.webDesign h5{
    font-family: poppins;
    font-weight: medium;
    font-size: 35px;
    color: #FFFFFF;
    margin: 0px;
}

.webDesign span{
    font-family: poppins;
    font-weight: lighter;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 44px;
}

.webDesign24{
    padding: 0px 290px;
}

/* page4 */

.page4{
    background-color: #040221;
}

.map{
    width: 809px;
    height: 394px;
    display: inline-block;
    margin-top: 232px;
    background-image: url(./images/map-55e32ae4c19a85738ebb72d3172e3ab7.png);
    position: relative;
    background-size: cover;
    margin-bottom: 290px;
}

.photo{
    position: absolute;
    transition: all 0.2s ease-in;
    border: 0px solid red;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: top;
}

.photo:hover{
    border-width: 10px;
}

.photo-small:hover{
    border-width: 5px;
}

.photo1{
    right: 67px;
    top: -122px;
    width: 187px;
}

.photo2{
    left: 77px;
    top: 0px;
    width: 166px;
}

.photo3{
    right: 77px;
    bottom: -36px;
    width: 166px;
}

.photo4{
    left: 294px;
    bottom: -128px;
    width: 187px;
}

.photo5{
    left: 179px;
    bottom: 90px;
    width: 96px;
}

.photo6{
    left: 345px;
    top: 59px;
    width: 125px;
}


.text{
    width: 810px;
    display: inline-block;
    margin-top: 120px;
    margin-left: 111px;
    background-color: #040221;
    vertical-align: top;
}

.text span{
    font-family: hatten;
    font-size: 200px;
    color: #FF0513;
}

.text>p{
    font-family: poppins;
    font-weight: lighter;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px;
    position: relative;
    line-height: 55px;
    top: -72px;
}
.qoute{
    position: relative;
    top: -125px;
    left: 500px;
}

.sara-smith{
    display: inline-block;
    position: relative;
    left: -75px;
    top: -120px;
}

.sara-smith h6{
    font-family: poppins;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px;
}

.sara-smith p{
    font-family: poppins;
    font-weight: lighter;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0px;
}

/* page5 */

.page5{
    background-color: #040B33;
    padding-bottom: 189px;
}

.page5 h3{
    line-height: 79px;
    margin: 0px;
    margin-bottom: 33px;
    margin-top: 47.5px;
}

.page5 span{
    line-height: 55px;
    font-size: 20px;
}

.line-vertical{
    width: 2px;
    height: 187px;
    background-color: #FF0513;
    margin: 0 auto;
}

.myCapabilities.div-input-text{
    padding-top: 0px;
}

.input{
    margin: 0px 241px;
    padding-top: 89px;
}

.input .name{
    width: 592px;
    height: 87px;
    box-sizing: border-box;
    padding-left: 25px;
    font-family: poppins;
    font-weight: normal;
    font-size: 25px;
    color:#707070;    
    outline: none; /* garshemowiruloba*/
    border: 1px solid #707070;
}

.input .message{
    width: 1242px;
    height: 205px;
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 27px;
}

.email, .budget{
    margin-left: 50px;
    margin-bottom: 50px;
}

.budget{
    background: url(./images/6.png) #FFFFFF no-repeat;
    /* Change the px value here to change the distance */
    background-position: right 32px top 33px; 
        -moz-appearance: none; 
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;
}


.page5 .HireMe {
    margin: 89px auto 0;
    display: block;
    background-color: #040B33;
}

.HireMe:hover{
    background-color:  #FF0513;
}

/*page 6*/

.page6{
    background-color: #040221;
    text-align: center;
    border-top: 1px solid #707070;
}

.footer-top .line-vertical{
    height: 83px;
    margin-bottom: 22.5px;
}

.footer-top span{
    font-family: freestyle;
    font-size: 116px;
    color: #FFFFFF;
    margin-top: 25px;
}

.footer-top p{
    font-family: poppins;
    font-weight: medium;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 47px;
}

.footer-top .socialNetwork{
    margin-top: 69.1px;
    padding-bottom: 90.6px;
}

.footer-bottom{
    background-color: #040221;
    border-top: 1px solid #707070;
    text-align: center;
    padding-top: 53.5px;
    padding-bottom: 59px;
}

.footer-bottom p{
    font-family: poppins;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

/* JS */

.numberPage .active{
    color: #FFFFFF;
}